<header>
  <nav>
    <div>
      <a class="navbar-brand">Learnterest</a>
    </div>
    <div class="login-register">
      <% if (false) { %>
        <a href="/login" class="login">
          Log in
        </a>
        <a href="/register" class="register">
          Sign up
        </a>
      <% } else { %>
        <a href="/resources/1" class="profile-icon">
          <i class="fa-regular fa-user"></i>
        </a>
      <% } %>
    </div>
  </nav>
</header>
