<header>
  <nav>
    <% if (user) { %>
      <div class="left-nav">
        <a href="/" class="navbar-logo">
          <img href="/" src="/img/logo.png" alt="Logo" class="logo">
        </a>

        <a href="/" class="navbar-brand left-nav-item">
          Learnterest
        </a>
        <a href="/resources" class="nav-button left-nav-item home">Home</a>
        <a href="/explorer" class="nav-button left-nav-item explore">Explore</a>
        <a href="/create" class="nav-button left-nav-item create">Create</a>
        <form action="/resources/search/" method="GET" class="search-bar-form" >
          <input class="search-bar left-nav-item" name="category" placeholder="&#x1F50D; Search...">
        </form>
      </div>
      <div class="profile-logout">
        <a href="/users/<%=user%>/created">
            <span class="profile-icon">
              <i class="fa-regular fa-user "></i>
            </span>
        </a>
        <span>
          <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Log out</button>
          </form>
        </span>
      </div>
    <% } else { %>
      <div>
        <a href="/" class="navbar-brand">
          <img src="/img/logo.png" alt="Logo" class="logo">
          Learnterest
        </a>
      </div>
      <div class="login-register">
        <a href="/login" class="login">
          Log in
        </a>
        <a href="/register" class="register">
          Sign up
        </a>
      </div>
    <% } %>
  </nav>
</header>
