<header>
  <nav>
    <div>
      <a href="/" class="navbar-brand">Learnterest</a>
    </div>
    <div class="login-register">
      <% if (false) { %>
        <a href="/login" class="login">
          Log in
        </a>
        <a href="/register" class="register">
          Sign up
        </a>
      <% } else { %>
        <div class="profile-icon">
          <a href="/resources/1">
            <i class="fa-regular fa-user "></i>
          </a>
        </div>

      <% } %>
    </div>
  </nav>
</header>
