<header>
  <nav>
    <% if (user) { %>
      <div class="left-nav">
        <a href="/" class="navbar-brand left-nav-item">
          <img src="/img/logo.png" alt="Logo" class="logo">
          Learnterest
        </a>
        <a href="/resources" class="nav-button left-nav-item">Home</a>
        <a href="/explore" class="nav-button left-nav-item">Explore</a>
        <a href="/create" class="nav-button left-nav-item">Create</a>
        <form action="resources/category/a" method="GET" class="search-bar-form" >
          <input class="search-bar left-nav-item" value="" placeholder="&#x1F50D; Search...">
        </form>
      </div>
      <div class="profile-logout">
        <span class="profile-icon">
          <a href="/users/<%=user%>/liked">
            <i class="fa-regular fa-user "></i>
          </a>
        </span>
        <span>
          <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Log out</button>
          </form>
        </span>
      </div>
    <% } else { %>
      <div>
        <a href="/" class="navbar-brand">
          <img src="/img/logo.png" alt="Logo" class="logo">
          Learnterest
        </a>
      </div>
      <div class="login-register">
        <a href="/login" class="login">
          Log in
        </a>
        <a href="/register" class="register">
          Sign up
        </a>
      </div>
    <% } %>
  </nav>
</header>
