<header>
  <nav>
    <div>
      <a class="navbar-brand">Learnterest</a>
    </div>
    <div class="login-register">
      <a class="login" href="/login">
        Log in
      </a>
      <a class="register" href="/register">
        Sign up
      </a>
    </div>
  </nav>
</header>
