<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>
<body>
  <%- include('partials/_header') %>
  <main>
    <div id="error-content">
      <h1 class="error-header">There was an error with your request</h1>
      <% if (errorMsg) { %>
        <p class="error-message"><%=errorMsg%></p>
      <% } %>
  </div>
  </main>
</body>

</html>
