<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>
<body>
  <%- include('partials/_header') %>
  <main>
    <div class="hp-content">
      <p>Learn about everything </p>
      <p>From <b>A</b>lgebra to <b>Z</b>ebras</p>
    </div>
    <div class="pin-container-hp">
      <div class="card card-medium"></div>
      <div class="card card-small"></div>
      <div class="card card-small"></div>
      <div class="card card-medium"></div>
    </div>
  </main>
</body>

</html>
