<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>

  <main class="login-account">
    <h3>Welcome to Learnterest</h3>
    <div>
      <form action="/login" method="POST">
        <div>
          <label for="email">Email</label>
          <br>
          <input
            type="email"
            name="email"
            placeholder="Enter email"
          />
          <br>
          <label for="password">Password</label>
          <br>
          <input
            type="password"
            name="password"
            placeholder="Enter password"
          />
          <br>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </main>

</body>
</html>
