<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="pin-container-resource">
      <div class="card card-small"></div>
      <div class="card card-medium"></div>
      <div class="card card-large"></div>
      <div class="card card-small"></div>
      <div class="card card-medium"></div>
      <div class="card card-large"></div>
      <div class="card card-small"></div>
      <div class="card card-medium"></div>
      <div class="card card-large"></div>
    </div>
  </main>

</body>
</html>
