<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Resources</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;800&display=swap" rel="stylesheet">

</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <section id="user-info">
      <h2><%= username %></h2>
      <h4><%= email %></h4>
      <div>
        <a class="share">
          Share
        </a>
        <a class="edit-profile">
          Edit Profile
        </a>
      </div>
      <div>
        <a class="created">
          Created
        </a>
        <a class="saved">
          Saved
        </a>
      </div>
    </section>
    <section>
      <!-- fill in with resource items -->
    </section>
  </main>

</body>
</html>
