<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <main>
    <section id="user-info">
      <h2><%= username %></h2>
      <h4><%= email %></h4>
      <div>
        <a class="share">
          Share
        </a>
        <a class="edit-profile">
          Edit Profile
        </a>
      </div>
      <div>
        <a class="created">
          Created
        </a>
        <a class="saved">
          Saved
        </a>
      </div>
    </section>
    <section>
      <!-- fill in with resource items -->
    </section>
  </main>

</body>
</html>
