.create-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .create-container {
    width: 800px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .create-header{
      margin: 30px 30px 15px 30px;
      display: flex;
      justify-content: space-between;

      .fa-circle-xmark{
        font-size: 30px;
        color: gray;
        cursor: pointer; 
      }
      .create-new{
        width: 100px;
      }
    }
    .create-body{
      height: 560px;
      margin: 15px 30px 30px 30px;
      display: flex;
      .left-create-body {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        #resource-url {
          width: 100%;
          border: none;
          border-bottom: 1px solid #cccccc;
          outline: none;
        }
        .preview-container {
          width: 100%;
          height: 100%;
          background-color: #cccccc;
          border-radius: 15px;
          display: flex;
          align-items: center;
          padding: 20px;
          margin-top: 20px;
        }
        #resource-img-url {
          width: 100%;
        }
      }
      .right-create-body {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        #create-title {
          border: none;
          border-bottom: 1px solid #CCCCCC;
          outline: none;
          font-size: xx-large;
          font-weight: bold;
        }
        .user-info-create-container {
          margin: 20px 10px;
          display: flex;
          .initial-circle {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #CCCCCC;
            font-size: 25px;
            margin-right: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
          }
          .user-name {
            font-weight: bold;
          }
        }
        #create-description {
          border: none;
          border-bottom: 1px solid #cccccc;
          outline: none;
          height: 220px;
          resize:none;
          
        }
        #create-category {
          margin-top: 20px;
          border: none;
          border-bottom: 1px solid #cccccc;
          outline: none;
        }

      }
    }
  }
}

