// Variables
$logo-colour: rgb(230, 0, 35);

nav {
  font-family: 'Geologica', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100px;
}


.login-register > * {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.login,
.register {
  border-radius: 1rem;
}

.navbar-brand {
  color: $logo-colour;
  font-size: 1.5rem;
  text-decoration: none;
}

.login {
  background-color: $logo-colour;
  color: rgb(255,255,255)
}

a.register {
  background-color: rgb(239, 239, 239);
}

.register:visited {
  color: rgb(0,0,0);
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(239, 239, 239);
  border-radius: 50%;
}
