// Variables
$logo-colour: rgb(230, 0, 35);

.logo {
    vertical-align: middle;
    margin-right: 10px;
    height: 50px;
  }
.navbar-brand {
  color: $logo-colour;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 10px;
}
nav {
  font-family: 'Geologica', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 100px;
}

.left-nav{
  display: flex;
  align-items: center;
  flex:1;
  a.nav-button{
    margin: 10px;
    text-decoration: none;
    color: black;
  }
  .search-bar-form {
   width: 50%;
   margin: 0px 20px;
  }
}

.search-bar {
  background-color: lightgray;
  border: none;
  font-size: 16px;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  border-radius: 2rem;

  &:hover {
    background-color: white;
  }
  &:focus {
    background-color: white;
    outline: none;
  }
}

.login-register > * {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.login,
.register {
  border-radius: 1rem;
}



.login {
  background-color: $logo-colour;
  color: rgb(255,255,255)
}

.logout-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: $logo-colour;
  color: rgb(255,255,255);
}

a.register {
  background-color: rgb(239, 239, 239);
}

.register:visited {
  color: rgb(0,0,0);
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(239, 239, 239);
  border-radius: 50%;
}

.profile-logout {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .search-bar {
    display: none;
  }

  .explore {
    display: none;
  }
}
