// Variables
$logo-colour: rgb(230, 0, 35);

.register-account input, .login-account input, .update-account input{
  width: 300px;
  height: 52px;
  margin: 0.25rem 0 1rem 0;
  border-radius: 1rem;
  border-color: rgb(239, 239, 239);
  padding-left: 10px;
  padding-right: 10px;
}

.register-account button, .login-account button, .update-account button {
  border: none;
  font: inherit;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 300px;
  border-radius: 1.5rem;
  text-decoration: none;
  background-color: $logo-colour;
}

h3 {
  font-weight: 200;
  font-size: 2rem;
}

label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
