.individual-resource {
  height: 90%;
  display: flex;
}

.resource-container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
  width: 75%;
  height: 75%;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 2rem;
  box-shadow: 0 0 10px rgb(239, 239, 239);
  background-color: rgb(255, 255, 255);
  position: relative;

  .img-container {
    margin: 3%;
    width: 60%;
    height: 90%;
  }

  .img-container img{
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.content-container {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    .title {
      text-align: center;
      margin: 0px 0px 10px 0px;
      padding-bottom: 10px;
    }
    .below-title{
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .description-label {
        margin: 0;
      }
      .rating-container{
        display: flex;
        align-items: center;
        .rating-label {
          font-weight: bold;
          font-size: 16px;
        }
        .rating {
          margin-left: 5px;
        }
      }
    }
    .description {
      background-color: lightgray;
      padding: 15px;
      border-radius: 15px;
    }
    .category {
      margin-top: 0.5rem;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 5%;
  .stars {
    display: flex;
    align-items: center;
    .rating {
      margin-left: 5px;
    }
    .star {
      color: rgb(255, 100, 0);
      margin: 3px;
    }
  }
  .like-container {
    display: flex;
    align-items: center;
    .likes{
      margin-left: 5px;
    }
  }
}

.star:hover, .like:hover {
  cursor: pointer;
}
.star-bg-colour {
  color: rgb(255, 100, 0);
}

// Comment Section:

.comments {
  width: 100%;
  padding: 0px 5%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .comments-heading {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  .comments-old {
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-top: 2%;
    .comment-info {
      padding: 2px 3%;
      display: flex;
      gap: 1rem;
    }
  }
  .comment-new {
    // position: sticky;
    // border: 1px solid black;
    // bottom: 0;
    // width: 90%;
    background-color: lightgray;
    border-radius: 0 0 10px 10px;
    #comment-text {
      line-height: 20px;
      border: 1px solid rgb(175, 175, 175);
      border-radius: 10px;
      width: 100%;
      height: 2rem;
      padding-left: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .resource-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 1000px;
    width: 65%;

    .img-container {
      width: 100%;
      margin: 0;
    }
  }

  .content-container {
    width: 100%;
    .info-container {

      .title {
        text-align: start;
      }
    }
  }
}

@media (max-width: 700px) {
  .individual-resource {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .resource-container {
    margin: auto;
    width: 90%;
  }
}



