$logo-colour: rgb(230, 0, 35);

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;

  .initial {
    color: #555;
    font-weight: bold;
  }
}

.profile-name {
  margin: 5px;
}
.profile-email {
  margin: 5px;
  padding-bottom: 10px;
}

.profile-buttons {
  display: flex;
}

.button {
  width: 150px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  text-decoration: none;
  color: inherit;
  border-radius: 18px;
  font-weight: 600;

  &:hover {
    background-color: #f8b7b8;
  }
}

.profile-footer {
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
}

a.tab {
  padding: 8px;
  margin: 0px 20px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

a.selected-tab {
  border-bottom: 2px solid black;
}

a.unselected-tab {
  border-radius: 16px;

  &:hover {
    background-color: lightgray;
  }
}

.empty-resources-profile {
  display: flex;
  flex-direction: column;
  
  .empty-bin {
    text-align: center;
  }
  
  .create-new {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    font: inherit;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 200px;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: $logo-colour;
  }
}



